{% extends "base.html" %}

{% block title %}
Login
{% endblock %}

{% block main %}
    <div class="container">
        <h1>Sip, Explore, Rate.</h1>
        <h4>Log your brewery adventures and tastings for a personalized beer journey.</h4>
        <h3>Start now!</h3>
        <hr style="padding: 25px">
        {% if error %}
        <div>
            <h2 style="color: red">Invalid Username / Password</h2>
        </div>
        {% endif %}
        <h4>Returning User:</h4>
        <form action="/login" method="post">
            <div class="mb-3">
                <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username"
                    placeholder="Username" type="text" required>
            </div>
            <div class="mb-3">
                <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password"
                    type="password" required>
            </div>
            <button class="btn btn-primary" type="submit">Log In</button>
        </form>
        <h3 style="padding: 25px">OR</h3>
        <h4>Create an Account</h4>
        <a href="/register"><button class="btn btn-primary">Register</button></a>
    </div>
{% endblock %}
